absl-py==1.4.0
aiohttp==3.9.5
aiofiles==24.1.0
attrs==22.1.0
coloredlogs==15.0.1
packaging==20.9
pandas==2.0.3
numpy==1.23.5
scipy==1.10.1
openpyxl==3.1.5
PyYAML==6.0.2
requests==2.32.3
rasa==3.6.20
rasa-sdk==3.6.2
sanic==21.12.2
sanic-routing==0.7.2
tqdm==4.66.6
tzlocal==5.2
ujson==5.10.0
pip>=23.0
setuptools>=67.0
wheel>=0.41.0

